body {
  color:#666;
  min-width:360px;
  font-family:Helvetica, Arial;
  font-size:12px;
  overflow-x:hidden;
  background:#f0f0f0;
  padding:0;
  margin:0;
}

a {
  color:#06C;
  font-weight:bold;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

h2 {
  color:#555;
  font-size:19px;
  padding:0;
  margin:0 0 10px 0;
}

h3 {
  font-size:15px;
  padding:0;
  margin:0 0 10px 0;
}

p {
  line-height:16px;
}

ul {
  list-style:none;
  margin:0 0 10px 0;
  padding:0;
}

ul:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

li {
  overflow-x:hidden;
  display:block;
  float:left;
  width:220px;
  font-size:12px;
}

#options li,
#options h1,
#options h2,
#options h3,
#options h4 {
  text-shadow: 0 1px 1px #fff;
}

#options h1 {
  font-size:24px;
  padding:0;
  border-bottom:1px solid #ccc;
  padding-bottom:5px;
  margin-bottom:5px;
}

#options {
  padding:20px;
}

#options p {
  font-size:14px;
}

body#popup {
  width:700px;
  background:transparent;
  padding:0;
}

#popup #main {
  display:none;
}

#popup h1 {
  font-size:16px;
  padding:0;
  margin:0 0 5px 0;
}

#popup p {
  padding:0;
  margin:0;
}

#popup li {
  width:auto;
  float:none;
  font-size:12px;
  padding:10px 0 5px 5px;
  border-top:1px solid #ddd;
  margin-bottom:3px;
}

#popup li div {
  margin-left:8px;
}

#popup li div img {
  -webkit-border-radius: 3px; 
  display:block;
  margin-right:5px;
  margin-bottom:5px;
  float:left;
}

#popup li p.startend {
  color:#5a5c62;
  font-size:10px;
  letter-spacing:1px;
  font-weight:bold;
}

#popup li p.subtitle {
  padding-right:5px;
  clear:left;
}

#popup li div:first-child {
  margin-left:0;
}

#popup #content {
  padding:10px;
  background:#f0f0f0;
  -webkit-border-radius: 5px; 
}

#popup .network {
  float:left;
  width:75px;
}

#popup .network img {
  float:none;
  width:60px;
  -webkit-border-radius: 5px; 
}

#popup .now,
#popup .next {
  float:left;
  width:230px;
}

#popup .upcoming {
  float:left;
  width:110px;
  padding:0;
}

#popup .upcoming li {
  border:none;
  padding:0;
}

#popup .upcoming li p.startend {
  line-height:12px;
  margin:0;
  padding:0;
}

#popup li p.startend img {
  float:none;
  display:inline;
  margin:0;
}

#popup .upcoming li p.subtitle a {
  font-weight:normal;
  font-size:11px;
}

#popup p.startend img:hover {
  -webkit-transform: rotate(360deg) scale(1.4);
  -webkit-transition: all 1s ease-out;
}


#popup li h4 {
  font-weight:normal;
  font-size:11px;
  padding:0;
  margin:0;
}

#status {
  font-size:13px;
  letter-spacing:1px;
}

#message {
  font-size:13px;
  color:#38d01f;
}

#welcome {
  display:none;
}

#header span {
  font-size:14px;
  font-weight:bold;
  text-shadow: 0 1px 1px #fff;
}

#header span.left {
  position:relative;
  left:87px;
}

#header span.right {
  position:relative;
  left:292px;
}

#header span.later {
  position:relative;
  left:499px;
}

#header {
  margin-bottom:5px;
}
